/* Fichier CSS du PPE site Disneyland */

/* POLICES PERSONNALISEES */

@font-face{
	font-family: 'Aileron-Regular-webfont';
	src: url('fonts/Aileron-Regular-webfont.eot');
	src: url('fonts/Aileron-Regular-webfont.ttf');
	src: url('fonts/Aileron-Regular-webfont.svg');
	src: url('fonts/Aileron-Regular-webfont.woff');
}

@font-face{
	font-family: 'Aileron-Bold-webfont';
	src: url('fonts/Aileron-Bold-webfont.eot');
	src: url('fonts/Aileron-Bold-webfont.ttf');
	src: url('fonts/Aileron-Bold-webfont.svg');
	src: url('fonts/Aileron-Bold-webfont.woff');
}

@font-face{
	font-family: 'Aileron-SemiBold-webfont';
	src: url('fonts/Aileron-SemiBold-webfont.eot');
	src: url('fonts/Aileron-SemiBold-webfont.ttf');
	src: url('fonts/Aileron-SemiBold-webfont.svg');
	src: url('fonts/Aileron-SemiBold-webfont.woff');
}



body{
	margin: auto;
	padding:  0px;
	font-family: Aileron-Regular-webfont, arial, sans-serif;
	background-color: #f5f5f5;
}

#table_affichage{
	border-collapse: collapse;
	box-shadow: 0 10px 40px rgba(0,0,0,0.15);
	margin: 20px;
	border:  2px solid black;
}

#table_affichage th{
	background-color: #0142deff;
	color:  white;
	text-align: left;
	padding: 15px 15px;
	border: 0px 2px 0px 2px solid black;
	border-left: 2px solid black;
	border-right: 2px solid black;
}

#table_affichage td{
	padding-left: 10px;
	padding-right: 10px;
	border-left: 2px solid black;
	border-right: 2px solid black;
}

#table_affichage tr:nth-child(even){
	background-color: #f3f3f3;
}

#bloc{
	width: max-content;
	padding: 5px;
	margin: auto;
	background-color: #f8f8f8;
	border-radius: 25px;
	box-shadow: 0 15px 23px rgba(0,0,0,0.15);
}

#grand_bloc{
	margin: auto;
	padding: auto;
	width: max-content;
	display: flex;
	width: 80%;
	justify-content: center;
	align-items: flex-start;
}

#bloc_recapitulatif{
	width: max-content;
	padding: 5px;
	margin: auto;
	display: flex;
	justify-content: flex-start;
	flex-direction: column;
	background-color: #f8f8f8;
	border-radius: 25px;
	box-shadow: 0 15px 23px rgba(0,0,0,0.15);
}

/*#bloc_commande{

}*/


header {
	background-color: #ededed;
	color: black;
	margin-bottom: 30px;
	padding: 20px;
	border-bottom: 1px solid #213f8eff;
	font-family: Aileron-Regular-webfont;
	display: flex;
	justify-content: center;
	align-items: center;
}

header h1{
	font-size: large;
	color: #213f8eff;
}

#en-tete{
	width: 75%;
}

#titre_menu{
	width: 50%;
	display: flex;
	justify-content: space-around;
	align-items: center;
	flex-direction: column;
}

#menu{
	display: flex;
	justify-content: space-between;
	align-items: center;
}

#menu:hover a{
	border-bottom: 4px solid transparent;
}

#menu a{
	font-size: small;
	border-bottom: 4px solid transparent;
	border-radius: 75px / 25px;
	padding-left: 25px;
	padding-right: 25px;
	color: black;
	text-decoration: none;
}

#menu a:hover{
	border-bottom: 4px solid #025bffff;
	border-radius: 75px / 25px;
}

#menu a:visited{
	color: black;
}



.message{
	color: red;
	font-weight: bold;
}


section {
	text-align: left;
	padding: 20px;
	margin-left: 20%;
	margin-right: 20%;
	background-color: #f8f8f8;
	border-radius: 25px;
	box-shadow: 0 15px 23px rgba(0,0,0,0.15);
}

section h2{
	padding-bottom: 3%;
	text-align: center;
}



footer {
	background-color: #ededed;
	color: black;
	border-top: 1px solid #213f8eff;
	margin-top: 30px;
	padding: 10px;
}

footer a {
	color: black;
	text-decoration: none;
}

footer a:hover{
	text-decoration: underline;
}